* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do body */
body {
    background: linear-gradient(to right, #ffffff, #d3d3d3);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Garante que o layout ocupe toda a altura da tela */
    padding: 20px;
    text-align: center;
}

/* Estilo do container */
.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    overflow: hidden; /* Evita que o conteúdo ultrapasse os limites do container */
}

/* Estilo da mensagem */
.message {
    color: darkred;
}

.message i {
    font-size: 50px;
    color: darkred;
    margin-bottom: 20px;
}

.message h1 {
    font-size: 28px;
    font-weight: 600;
    color: darkred;
    margin-bottom: 10px;
    word-wrap: break-word; /* Evita quebra de layout com textos longos */
}

.message p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
    word-wrap: break-word; /* Evita quebra de layout com textos longos */
}

.message a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 2px solid rgb(110, 0, 0);
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    margin: 5px;
}

.message a:hover {
    background-color: darkred;
    color: rgb(245, 245, 245);
    transform: scale(1.05); /* Adiciona um leve efeito de zoom ao passar o mouse */
}
.pdf-viewer {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}

.view-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.view-btn:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 500px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    .message h1 {
        font-size: 24px;
    }

    .message p {
        font-size: 14px;
    }

    .message a {
        font-size: 14px;
        padding: 8px 15px;
    }
}